* {
  margin: 0;
  padding: 0;
}

div.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 1px solid rgb(231, 231, 231);
  padding: 50px;
  border-radius: 20px;
  min-height: 400px;
}

input {
  margin: 5px 0;
}

ul {
  margin-top: 5px;
  padding: 10px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

li {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
}